@section('content')

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="u-layout-row">
                        <div class="u-size-36">
                          <div class="u-layout-row">
                            <div class="u-align-center-xs u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                              <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-top-xs u-container-layout-1">
                                <h5 class="u-text u-text-1">Sobre Nosotros</h5>
                                <p class="u-custom-font u-heading-font u-text u-text-grey-30 u-text-2">Esta Pagina corresponde a farmacia de chimbarongo, y su fin es de posibilitar la compra de medicamentos forma de remota.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="u-size-24">
                          <div class="u-layout-col">
                            <div class="u-align-center u-container-style u-image u-layout-cell u-size-60 u-image-1" data-image-width="1600" data-image-height="1067">
                              <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                                <div class="u-image u-image-circle u-image-2" data-image-width="1620" data-image-height="1080"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

